include src/mean_opinion_score_tests/res/blizzard_crowdmos1_hp.json
include src/mean_opinion_score_tests/res/blizzard_crowdmos2_hp.json
include src/mean_opinion_score_tests/res/blizzard_crowdmos2_ls.json
include src/mean_opinion_score_tests/res/blizzard_online_volunteers.json
include src/mean_opinion_score_tests/res/blizzard_paid_participants.json
